:root {
    /* --radix-context-menu-content-transform-origin: top; */
    --context-menu-animation: scaleIn 0.5s ease-out;
    --context-menu-animation-duration: 0.5s;
    --context-menu-animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    
}



.ContextMenuContent {
	transform-origin: var(--radix-context-menu-content-transform-origin);
	animation: var(--context-menu-animation);
    animation-duration: var(--context-menu-animation-duration);
	animation-timing-function: var(--context-menu-animation-timing-function);
    width: var(--radix-context-menu-trigger-width);
	max-height: var(--radix-context-menu-content-available-height);
}
.ContextMenuContent[data-side="top"] {
	animation-name: slideUp;
}
.ContextMenuContent[data-side="bottom"] {
	animation-name: slideDown;
}
@keyframes scaleIn {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
